streamlit==1.27.2
geopy==2.4.0
folium==0.14.0
plotly==5.17.0
geopandas==0.14.0
requests==2.31.0
matplotlib==3.8.0
seaborn==0.13.0
pytz==2.23.3.post1
xgboost==2.0.0
joblib==1.3.2
nltk==3.8.1
scipy==1.11.3
scikit-learn==1.3.1
threadpoolctl==3.2.0
